@import "https://fonts.googleapis.com/css?family=Montserrat";
/*@import "https://fonts.googleapis.com/css?family=Dancing+Script";*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.Georgia{
    font-family: Georgia;
    //font-size: larger;
    font-size: 1.5cm;
}

.Palatino{
    font-family: "Palatino Linotype";
    font-style: italic;
    font-size: 30px;
}

.Times{
    font-family: "Times New Roman";
    font-weight: bolder;
    font-size: 20pt;
}

.Arial{
    font-family: Arial;
    text-shadow: 2px 1px red;
    font-size: 2em;
}

.Tahoma{
    font-family: Tahoma;
    text-decoration: line-through black;
    font-size: 3rem;
}

.Font{
    font-family: 'Open Sans';
    text-overflow: ellipsis;
    font-size: 150%;
}

.Dancing{
    font-family: 'Dancing Script';
    text-align: justify;
    font-size: 5vh;
}

.Montserrat{
    font-family: 'Montserrat';
    line-height: revert;
    font-size: 10vm;
}

.Arizonia{
    -webkit-text-fill-color:red;
    -webkit-text-stroke-width:medium;
    -webkit-text-stroke-color:gray;
    font-size: 10vmin;
}

body{
    font-size: 18px;
}

.diamonds{
    background-color: dodgerblue;
}

.spotify{
    background-color: greenyellow;
    border-radius: 4px;
}