header{
    background: gray;
    border-radius: 2px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav li{
    flex: auto;
}

article{
    margin: 15px;
    padding: 15px;
}

.article1{
    display: flex;
    float: left;

    /*background-image: ;
    background-repeat: ;
    background-size: ;*/
    border-radius: 5px;
}

.article2{
    display: flex;
    position: relative;
    float: left;
    left: 35%;

    /*background-image: ;
    background-repeat: ;
    background-size: ;
    linear-gradient: ;*/
    border-radius: 5px;
}

.article3{
    display: flex;
    float: right;

    /*background-image: ;
    background-repeat: ;
    background-size: ;*/
    border-radius: 5px;
}

footer{
    display: flex;
    background: linear-gradient(to right, #f70000, #FBE0DB, #1100ff, #F6FBDB);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

img:hover{
    opacity: 0.5;
}

h1{
    font-family: Cambria;
}
