header{
    background: gray;
    border-radius: 2px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav li{
    flex: auto;
}

article{
    margin: 10px;
    padding: 5px;

    display: flex;
    float: left;
    width: 31%;
    height: 560px;
}

.article1{
    background: dodgerblue;

    background-image: revert;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px;
}

.article2{
    background: dodgerblue;

    background-image: unset;
    background-repeat: revert;
    background-size: cover;
    /*linear-gradient: ;*/
    border-radius: 5px;
}

.article3{
    background: dodgerblue;

    background-image: inherit;
    background-repeat: initial;
    background-size: inherit;
    border-radius: 5px;
}

footer{
    display: flex;
    background: linear-gradient(to right, #f70000, #FBE0DB, #1100ff, #F6FBDB);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

img:hover{
    opacity: 0.5;
}

h1{
    font-family: Cambria;
    color: #F6FBDB;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
}

@media screen and(max-width: 200px) {

}

@media screen and (max-width: 400px) {

}

@media screen and (max-width: 1000px) {

}